<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Coder 🧑‍💻 • Athlete 🏋️‍♀️ • Emoji Enthusiast 🧍 </h2>
                <hr class="light">
                <p class="text-faded">I am coder/statistician who works primarily in R and Python, with a passion for data visualization to improve accessibility and inform statistical understanding. In my screen-free life I am pursuing many different athletic goals in running, basketball, and weightlifting. I also maintain an active book catalog on <a style='color:#FFFCBB' href = "https://www.goodreads.com/user/show/23893690-duncan">goodreads</a>, and enjoy writing on political topics as can be seen in the writing section of this site.</p>
            </div>
        </div>
    </div>
</section>
