<section class="no-padding" id="portfolio">
    <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/PythonvsR.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Coding
                            </div>
                            <div class="project-name">
                                Python vs R
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/howtolearncoding.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Coding
                            </div>
                            <div class="project-name">
                                How to Learn Coding (Personal Documentation)
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
          <div class="row">
            <div class="col-md-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/infiniteinformation.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Politics
                            </div>
                            <div class="project-name">
                                The Issue with Infinite Information
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/MachineLearning.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine Learning
                            </div>
                            <div class="project-name">
                                Math, Magic, and Misinformation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
          <div class="row">
            <div class="col-md-6">
                <a href="https://rpubs.com/dungates/hothand_simulation" class="portfolio-box">
                    <img src="img/portfolio/SimulatedvsStars.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sports
                            </div>
                            <div class="project-name">
                                NBA Shooting Simulation
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/datasciencevisualization.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science
                            </div>
                            <div class="project-name">
                                Why I Like Data Science
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
          <div class="row">
            <div class="col-md-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/kanyewordcloud.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Spotify
                            </div>
                            <div class="project-name">
                                Kanye Lyrical Analysis
                            </div>
                        </div>
                  </div>
                </a>
            </div>
        </div>
  </div>
</section>
