<section class="no-padding" id="portfolio">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <br>
              <h2 class="section-heading">Writing and Completed Projects</h2>
              <hr class="primary">
          </div>
      </div>
  </div>
    <div class="container-fluid">
          <div class="row">

            <div class="col-md-6">
                <a href="AmericanEdInequality.html" class="portfolio-box">
                    <img src="img/portfolio/RaceEducationFlow.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science
                            </div>
                            <div class="project-name">
                                How Do Race, Geography, and Student-Teacher Ratio Impact Learning?
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <a href="./Writing/InfiniteInformation.html" class="portfolio-box">
                      <img src="img/portfolio/OregonCovid.png" class="img-responsive" alt="">
                      <div class="portfolio-box-caption">
                          <div class="portfolio-box-caption-content">
                              <div class="project-category text-faded">
                                  Covid-19
                              </div>
                              <div class="project-name">
                                  Visualizing Coronavirus in Oregon
                              </div>
                          </div>
                      </div>
                  </a>
              </div>

        </div>

        <div class="col-md-6">
            <a href="https://rpubs.com/dungates/hothand_simulation" class="portfolio-box">
                <img src="img/portfolio/NBAHotHand.png" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Sports
                        </div>
                        <div class="project-name">
                            NBA Shooting Simulation
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="Records.html" class="portfolio-box">
                <img src="img/portfolio/MensWomensRecordsPace.png" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            Sports
                        </div>
                        <div class="project-name">
                            Running Records Over Time
                        </div>
                    </div>
                </div>
            </a>
        </div>

        </div>
          <div class="row">
            <div class="col-md-6">
                <a href="Homework-4.html" class="portfolio-box">
                    <img src="img/portfolio/MathPhoto.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Math
                            </div>
                            <div class="project-name">
                                Making Beautiful Math Homework with R Markdown
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="OnlineDating.html" class="portfolio-box">
                    <img src="img/portfolio/USDatingbyAge.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Data Science
                            </div>
                            <div class="project-name">
                                The Future of Online Dating
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
          <div class="row">
            <div class="col-md-6">
                <a href="IndeedScrape.html" class="portfolio-box">
                    <img src="img/portfolio/ds_frequency.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Coding
                            </div>
                            <div class="project-name">
                                Python vs R
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="Kanye.html" class="portfolio-box">
                    <img src="img/portfolio/kanyewordcloud.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Spotify
                            </div>
                            <div class="project-name">
                                Kanye Sentiment Analysis
                            </div>
                        </div>
                  </div>
                </a>
            </div>
        </div>
  </div>
</section>
