/*-- scss:defaults --*/
$navbar-bg: #04abeb !default;
$font-family-base:  'Open Sans',  'Lato', 'Merriweather', 'Roboto Regular', 'Cabin Regular' !default;
$headings-font-family:  'Fira Sans', 'Roboto', 'Playfair Display', 'Montserrat'    !default;